button.buttonColor{
    background-color: blueviolet;
    color: white;
}

button:hover{
    background-color: yellowgreen;
    color: black;
    border: none;
}

h1 {
    color: orange;
}